@import '../base.css';

:root {
    --segmentColour: #f8f8ff;
}

.container {
    margin: 1px auto;
}

.header{
    background-color: var(--segmentColour);
    width: 100%;
    align-content: center;
    padding: 7px 5px 0;
    font-family: var(--headingFont);
}

.contentBox{
    border: solid 1px var(--segmentColour);
    width: 100%;
    align-content: center;
    padding: 5px;
    font-family: var(--bodyFont);
    font-size: 0.6rem;
}
