@import '../base.css';

:root {
    --headerBackground: rgba(245, 245, 255, 0.4);
    --contentBackground: var(--transparentWhite);
    --segmentColour: var(--transparentWhite);
    --height: 50px;
}

.container {
    margin: 3px auto;
}

.paragraph {
    margin: 10px;
}

.header{
    background-color: var(--headerBackground);
    width: 100%;
    height: var(--height);
    line-height: var(--height);
    align-content: center;
    padding: 7px 0;
    font-family: var(--headingFont);
    font-size: 1.4rem;
    color: var(--green);
    border-bottom: solid 1px var(--pink);
    font-weight:bold;
}

.contentBox{
    width: 100%;
    align-content: center;
    padding: 1rem 0;
    font-family: var(--bodyFont);
    font-size: 1em;
    color: var(--green);
    background-color: var(--contentBackground);
    border-bottom: solid 1px var(--pink);
}


