
:root{
    --mapHeight: 400px;
}
.map{
    min-width:300px;
    max-width: 800px;
    height:var(--mapHeight);
    margin:auto;
}

.map div{
    height:var(--mapHeight)
}

.parking {
    font-size: 2em;
    color: fuchsia;
}
