@import './base.css';

:root {
}

.appContainer {
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}

.backgroundImage {
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
}


.header {
    font-family: var(--headingFont);
    font-size: 1.8em;
    color: var(--headingColour);
    margin: 4em auto;
}
