@import './reset.css';

:root {
    --headingFont: "Mystery Quest", cursive, sans-serif;
    --headingColour: rgba(255, 255, 255, 0.6);
    --bodyFont: "Rancho", cursive, sans-serif;
    --champagne: rgb(247, 231, 206);
    --pink: rgb(255,105,180);
    --purple: rgb(128,0,128);
    --green: rgb(0,128,0);
    --transparentWhite: rgba(245, 245, 255,0.7);
    --reallyTransparentWhite: rgba(245, 245, 255,0.4);
    --baseBackgroundColour: rgb(205, 190, 171);
}

@custom-media --phone (width <= 500px); /* width <= 500px */
@custom-media --desktop (width > 500px); /* width > 500px */

html {
    background-color: var(--baseBackgroundColour);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.33em;
    font-family: var(--bodyFont);
    text-align:center;
    line-height: 1.5em;
    background-color: transparent;
}


section {
    margin: 1em;
}
