@import '../base.css';

:root {
    --rsvpButtonHeight: 100px;
    --formFont: Georgia, "Times New Roman", Times, serif;
}

.field{
    margin-bottom: 30px;
}

.fieldError {
    background-color: pink !important;
}

.errors {
    color: darkred;
}

.rsvpForm{
    padding: 10px 20px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

.failedText{
    color: Red;
    border: 1px solid Red;
}

.rsvpForm fieldset{
    border: none;
}
.rsvpForm legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.rsvpForm label {
    display: block;
    margin-bottom: 8px;
    font-family: var(--formFont);
    font-size: 0.8em;
}
.rsvpForm input[type="text"],
.rsvpForm input[type="date"],
.rsvpForm input[type="datetime"],
.rsvpForm input[type="email"],
.rsvpForm input[type="number"],
.rsvpForm input[type="search"],
.rsvpForm input[type="time"],
.rsvpForm input[type="url"],
.rsvpForm textarea,
.rsvpForm select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    color:##fff;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}


.rsvpForm input[type="text"]:focus,
.rsvpForm input[type="date"]:focus,
.rsvpForm input[type="datetime"]:focus,
.rsvpForm input[type="email"]:focus,
.rsvpForm input[type="number"]:focus,
.rsvpForm input[type="search"]:focus,
.rsvpForm input[type="time"]:focus,
.rsvpForm input[type="url"]:focus,
.rsvpForm textarea:focus,
.rsvpForm select:focus{
    background: #d2d9dd;
}
.rsvpForm select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.rsvpForm number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.rsvpForm button
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: rgb(0,128,0);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid rgb(0, 110,0);
    border-width: 1px 1px 3px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-bottom: 10px;
}

.rsvpForm button:hover
{
    background: #109177;
}

button.disabled, button.inProgress
{
    background: #fff;
    color: var(--green)
}
